@import "tailwindcss";

.theme-white {
    --gruvbox-bg_h: #f9f5d7;
    --gruvbox-bg: #fbf1c7;
    --gruvbox-bg_s: #f2e5bc;
    --gruvbox-bg1: #ebdbb2;
    --gruvbox-bg2: #d5c4a1;
    --gruvbox-bg3: #bdae93;
    --gruvbox-bg4: #a89984;

    --gruvbox-fg: #282828;
    --gruvbox-fg1: #3c3836;
    --gruvbox-fg2: #504945;
    --gruvbox-fg3: #665c54;
    --gruvbox-fg4: #7c6f64;

    --gruvbox-red: #9d0006;
    --gruvbox-green: #79740e;
    --gruvbox-yellow: #b57614;
    --gruvbox-blue: #076678;
    --gruvbox-purple: #8f3f71;
    --gruvbox-aqua: #427b58;
    --gruvbox-orange: #af3a03;
    --gruvbox-gray: #928374;

    --gruvbox-red-dim: #cc2412;
    --gruvbox-green-dim: #98971a;
    --gruvbox-yellow-dim: #d79921;
    --gruvbox-blue-dim: #458598;
    --gruvbox-purple-dim: #b16286;
    --gruvbox-aqua-dim: #689d6a;
    --gruvbox-orange-dim: #d65d0e;
    --gruvbox-gray-dim: #7c6f64;
}

.theme-dark {
    --gruvbox-bg_h: #32302f;
    --gruvbox-bg: #282828;
    --gruvbox-bg_s: #1d2021;
    --gruvbox-bg1: #3c3836;
    --gruvbox-bg2: #504945;
    --gruvbox-bg3: #665c54;
    --gruvbox-bg4: #7c6f64;

    --gruvbox-fg: #fbf1c7;
    --gruvbox-fg1: #ebdbb2;
    --gruvbox-fg2: #d5c4a1;
    --gruvbox-fg3: #bdae93;
    --gruvbox-fg4: #a89984;

    --gruvbox-red: #fb4934;
    --gruvbox-green: #b8bb26;
    --gruvbox-yellow: #fabd2f;
    --gruvbox-blue: #83a598;
    --gruvbox-purple: #d3869b;
    --gruvbox-aqua: #8ec07c;
    --gruvbox-gray: #928374;
    --gruvbox-orange: #fe8019;

    --gruvbox-red-dim: #cc2412;
    --gruvbox-green-dim: #98971a;
    --gruvbox-yellow-dim: #d79921;
    --gruvbox-blue-dim: #458588;
    --gruvbox-purple-dim: #b16286;
    --gruvbox-aqua-dim: #689d6a;
    --gruvbox-gray-dim: #a89984;
    --gruvbox-orange-dim: #d65d0e;
}

@theme {
    --color-gruvbox-bg_h: var(--gruvbox-bg_h);
    --color-gruvbox-bg: var(--gruvbox-bg);
    --color-gruvbox-bg_s: var(--gruvbox-bg_s);
    --color-gruvbox-bg1: var(--gruvbox-bg1);
    --color-gruvbox-bg2: var(--gruvbox-bg2);
    --color-gruvbox-bg3: var(--gruvbox-bg3);
    --color-gruvbox-bg4: var(--gruvbox-bg4);

    --color-gruvbox-fg: var(--gruvbox-fg);
    --color-gruvbox-fg1: var(--gruvbox-fg1);
    --color-gruvbox-fg2: var(--gruvbox-fg2);
    --color-gruvbox-fg3: var(--gruvbox-fg3);
    --color-gruvbox-fg4: var(--gruvbox-fg4);

    --color-gruvbox-red: var(--gruvbox-red);
    --color-gruvbox-green: var(--gruvbox-green);
    --color-gruvbox-yellow: var(--gruvbox-yellow);
    --color-gruvbox-blue: var(--gruvbox-blue);
    --color-gruvbox-purple: var(--gruvbox-purple);
    --color-gruvbox-aqua: var(--gruvbox-aqua);
    --color-gruvbox-orange: var(--gruvbox-orange);
    --color-gruvbox-gray: var(--gruvbox-gray);

    --color-gruvbox-red-dim: var(--gruvbox-red-dim);
    --color-gruvbox-green-dim: var(--gruvbox-green-dim);
    --color-gruvbox-yellow-dim: var(--gruvbox-yellow-dim);
    --color-gruvbox-blue-dim: var(--gruvbox-blue-dim);
    --color-gruvbox-purple-dim: var(--gruvbox-purple-dim);
    --color-gruvbox-aqua-dim: var(--gruvbox-aqua-dim);
    --color-gruvbox-orange-dim: var(--gruvbox-orange-dim);
    --color-gruvbox-gray-dim: var(--gruvbox-gray-dim);
}