@import "tailwindcss";

@theme .theme-white {
    --color-gruvbox-bg_h: #f9f5d7;
    --color-gruvbox-bg: #fbf1c7;
    --color-gruvbox-bg_s: #f2e5bc;
    --color-gruvbox-bg1: #ebdbb2;
    --color-gruvbox-bg2: #d5c4a1;
    --color-gruvbox-bg3: #bdae93;
    --color-gruvbox-bg4: #a89984;

    --color-gruvbox-fg: #282828;
    --color-gruvbox-fg1: #3c3836;
    --color-gruvbox-fg2: #504945;
    --color-gruvbox-fg3: #665c54;
    --color-gruvbox-fg4: #7c6f64;

    --color-gruvbox-red: #9d0006;
    --color-gruvbox-green: #79740e;
    --color-gruvbox-yellow: #b57614;
    --color-gruvbox-blue: #076678;
    --color-gruvbox-purple: #8f3f71;
    --color-gruvbox-aqua: #427b58;
    --color-gruvbox-orange: #af3a03;
    --color-gruvbox-gray: #928374;

    --color-gruvbox-red-dim: #cc2412;
    --color-gruvbox-green-dim: #98971a;
    --color-gruvbox-yellow-dim: #d79921;
    --color-gruvbox-blue-dim: #458598;
    --color-gruvbox-purple-dim: #b16286;
    --color-gruvbox-aqua-dim: #689d6a;
    --color-gruvbox-orange-dim: #d65d0e;
    --color-gruvbox-gray-dim: #7c6f64;

}

@theme .theme-dark {
    --color-gruvbox-bg_h: #1d2021;
    --color-gruvbox-bg: #282828;
    --color-gruvbox-bg_s: #32302f;
    --color-gruvbox-bg1: #3c3836;
    --color-gruvbox-bg2: #504945;
    --color-gruvbox-bg3: #665c54;
    --color-gruvbox-bg4: #7c6f64;

    --color-gruvbox-fg: #fbf1c7;
    --color-gruvbox-fg1: #ebdbb2;
    --color-gruvbox-fg2: #d5c4a1;
    --color-gruvbox-fg3: #bdae93;
    --color-gruvbox-fg4: #a89984;

    --color-gruvbox-red: #fb4934;
    --color-gruvbox-green: #b8bb26;
    --color-gruvbox-yellow: #fabd2f;
    --color-gruvbox-blue: #83a598;
    --color-gruvbox-purple: #d3869b;
    --color-gruvbox-aqua: #8ec07c;
    --color-gruvbox-gray: #928374;
    --color-gruvbox-orange: #fe8019;

    --color-gruvbox-red-dim: #cc2412;
    --color-gruvbox-green-dim: #98971a;
    --color-gruvbox-yellow-dim: #d79921;
    --color-gruvbox-blue-dim: #458588;
    --color-gruvbox-purple-dim: #b16286;
    --color-gruvbox-aqua-dim: #689d6a;
    --color-gruvbox-gray-dim: #a89984;
    --color-gruvbox-orange-dim: #d65d0e;
}